<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>Create a new chat room! | Spreza</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>


</head>

<body>

	<header class="homebanner">
		<h1 class="homebannertext">
				<a href="http://spreza.co" id="logo">Spreza</a>
		</h1>

	</header>

	<section>

		<div class="homesection">

			<div class="node">
				<img src="img/sprezalogo.png" alt="sprezalogo" id="sprezalogo" height="200" width="200"/>
				<h2 id="chat">NEVER TAKE NOTES AGAIN.</h2>
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create a Private</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a>

			
		</div>

	</section>

</body>
</html>
